/****** Object:  Database [AttendanceSystem]    Script Date: 25/05/2024 12:40:33 AM ******/
CREATE DATABASE [AttendanceSystem]

ALTER DATABASE [AttendanceSystem] SET ANSI_NULL_DEFAULT OFF 
GO
USE [AttendanceSystem]
GO
/****** Object:  Table [dbo].[AttendanceDetail]    Script Date: 25/05/2024 12:40:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceDetail](
	[ATId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[AttendanceTime] [datetime] NULL,
	[AttendanceType] [varchar](50) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_AttendanceDetail] PRIMARY KEY CLUSTERED 
(
	[ATId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/05/2024 12:40:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](500) NULL,
	[LastName] [varchar](500) NULL,
	[EmailAddress] [varchar](500) NULL,
	[Password] [varchar](500) NULL,
	[UserType] [varchar](50) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]